@import 'less/p-reset.less';

header{
	background: svg-gradient(to bottom right, spin(@accent, 14%), spin(@accent, -40%)) no-repeat;
	color: @white;
	padding: (@x2baseline * 2) 0;
	// .pagePadding;
	h1, h2, h3, h4, h5, h6{ color: @white; }
}
.bg-gradient{
	background: svg-gradient(to bottom right, spin(@accent, 14%), spin(@accent, -40%)) no-repeat;
}

main{
	section{
		.page-padding;
		.padding-ends;
		> h1{
			margin: @x2baseline 0;
		}
	}
	.grid{
		@mason-gutter: (@baseline * 1.25);
		margin-right: -@mason-gutter;
		@media @phone{ margin-right: 0; }
		li{
			&.grid-sizer{ width: 100% / 4; }
			width: ~'calc((100% / 4) - @{mason-gutter})';
			@media @tablet{
				&.grid-sizer{ width: 100% / 2; }
				width: ~'calc((100% / 2) - @{mason-gutter})';
			}
			@media @phone{
				&.grid-sizer{ width: 100%; }
				width: 100%;
				max-height: @x3baseline * 3;
			}
			margin-bottom: @mason-gutter;
			max-height: 90vh;
			overflow: hidden;
			position: relative;
			border-radius: 3px;
			.shadow(@accent, 1.75, .6);
			a, img{ boder-radius: 3px; }
			&:after{
				content: '';
				display: block;
				height: 100%; width: 100%;
				position: absolute;
				top: 0; left: 0;
				border-radius: 3px;
				pointer-events: none;
				box-shadow: inset 0 0 0 1px fade(@black, 10%);
			}
		}
		&.grid-5{
			li{
				&.grid-sizer{ width: 100% / 5; }
				width: ~'calc((100% / 5) - @{mason-gutter})';
				@media @tablet{
					&.grid-sizer{ width: 100% / 3; }
					width: ~'calc((100% / 3) - @{mason-gutter})';
				}
				@media @phone{
					&.grid-sizer{ width: 100%; }
					width: 100%;
				}
			}
		}
	}
}


.zoom{
	&.arrow{
		position: fixed;
		display: inline-block;
		top: 50%; left: 0; right: 0;
		transform: translateY(-50%);
		&.arrow-left{
			left: @x2baseline; right: auto;
			&:before{ content: '<'; display: block;}
		}
		&.arrow-right{
			right: @x2baseline; left: auto;
			&:before{ content: '>'; display: block;}
		}
	}
}